<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bus.dao.dyfTwoConfigurationMapper">
<!--    用户的映射数据库-->
    <resultMap id="selectHtmlUser" type="com.bus.javabean.DyfHtmlUserBean">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassWord" column="user_password"></result>
        <result property="userPhoneNumber" column="user_phonenumber"></result>
        <result property="userHeadPortrait" column="user_headportrait"></result>
        <result property="userBalance" column="user_balance"></result>
        <result property="userHomeLongitude" column="user_home_longitude"></result>
        <result property="userCompanyLongitude" column="user_company_longitude"></result>
        <result property="userStatus" column="user_status"></result>
        <result property="userHomeLatitude" column="user_home_latitude"></result>
        <result property="userCompanyLatitude" column="user_company_latitude"></result>
        <result property="userSex" column="user_sex"></result>
        <result property="userHome" column="user_home"></result>
        <result property="userCompany" column="user_company"></result>
        <result property="userFaceToken" column="user_face_token"></result>
    </resultMap>
<!--    用户账号密码登入-->
    <select id="userLogin" resultMap="selectHtmlUser">
        select *from tb_user where user_name = #{userName} and user_password = #{userPassWord}
    </select>
<!--    查询注册电话是否重复-->
    <select id="userSelectrepeatRegister" parameterType="java.lang.String" resultMap="selectHtmlUser">
        select *from tb_user where user_phonenumber = #{userPhoneNum}
    </select>
<!--    用户注册添加到数据库-->
    <insert id="userRegisterInto">
        insert into tb_user(user_name,user_password,user_phonenumber,user_status) values (
        #{userName},#{userPass},#{userPhoneNum},1
        )
    </insert>
<!--    修改用户头像-->
    <update id="updateImg" parameterType="java.lang.String">
        update tb_user set user_headportrait = #{image} where user_phonenumber = #{userPhoneNum}
    </update>
<!--    修改用户信息-->
    <update id="updateUserInforMation" parameterType="com.bus.javabean.DyfHtmlUserBean">
        UPDATE tb_user set user_sex = #{userSex}
        <if test="userHome!=null and userHome!=''">
            ,user_home = #{userHome}
        </if>
        <if test="userCompany!=null and userCompany!=''">
            ,  user_company = #{userCompany}
        </if>
        <if test="userHomeLongitude!=null and userHomeLongitude!=''">
            ,user_home_longitude = #{userHomeLongitude}
        </if>
        <if test="userCompanyLongitude!=null and userCompanyLongitude!=''">
            ,user_company_longitude = #{userCompanyLongitude}
        </if>
        <if test="userHomeLatitude!=null and userHomeLatitude!=''">
            ,user_home_latitude =#{userHomeLatitude}
        </if>
        <if test="userCompanyLatitude!=null and userCompanyLatitude!=''">
            ,user_company_latitude = #{userCompanyLatitude}
        </if>
        where user_phonenumber = #{userPhoneNumber}
    </update>
    <resultMap id="aliPay" type="com.bus.javabean.DyfAliPayBean">
        <id property="orderId" column="api_id"></id>
        <result property="orderMoney" column="api_money"></result>
        <result property="orderType" column="api_type"></result>
        <result property="orderPhoneNum" column="api_phonenum"></result>
        <result property="nowDate" column="api_date"></result>
    </resultMap>
    <select id="selectAliPay" resultMap="aliPay">
         select *from tb_alipy order by api_id desc;
    </select>
    <insert id="insertAliPay" parameterType="com.bus.javabean.DyfAliPayBean">
        INSERT into tb_alipy(api_money,api_type,api_phonnum,api_date) VALUES (#{orderMoney},#{orderType},#{orderPhoneNum},#{nowDate})
    </insert>
    <update id="updateUserMoney" parameterType="java.lang.String">
        update tb_user set user_balance = #{userBlance} where user_phonenumber = #{userNum}
    </update>

<!--    用户消费明细分页查看-->
    <select id="selectSaveMoney" resultMap="aliPay">
        select *from tb_alipy where api_phonnum = ${phoneNumber}
        <if test="userDate != null and userDate !=''">
            and api_date = #{userDate}
        </if>
        limit #{startIndex},#{pageSize}
    </select>
<!--    消费明细总页数-->
    <select id="selectSaveMoneyCount" resultType="integer">
        select count(*) from tb_alipy where api_phonnum = ${phoneNumber}
        <if test="userDate != null and userDate !=''">
            and api_date = #{userDate}
        </if>

    </select>
</mapper>