<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bus.dao.LccStatisticsMapper">

    <resultMap id="lcbMap" type="com.bus.javabean.LccCashBean">
       <result property="routeName" column="route_name"></result>
        <result property="incomes" column="income"></result>
        <result property="cashDate" column="cash_date"></result>
        <result property="start" column="cash_date"></result>
        <result property="end" column="cash_date"></result>
    </resultMap>

    <!--带时间条件查询线路收银统计-->

    <select id="findRouteCashesByDate" parameterType="map" resultMap="lcbMap">
        SELECT c.route_name,sum(c.incomes) incomes,c.cash_date from
        (select b.route_name,a.incomes,a.cash_date from
        (select sum(income) incomes,route_id,cash_date from
        tb_cash
        <where>
        <if test="(start != null and start != '') and (end != null and end != '')">
            cash_date BETWEEN #{start} AND #{end}
        </if>
        </where>
         group by route_id,cash_date)a
        INNER JOIN
        (SELECT route_name,route_id from tb_route)b ON a.route_id = b.route_id )c group by c.route_name,c.cash_date
    </select>
</mapper>