<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bus.dao.LccSuggestionMapper">

    <insert id="addAdvice" parameterType="com.bus.javabean.LccAdviceBean" useGeneratedKeys ="true" keyProperty="adviceId" keyColumn="advice_id">
        insert into tb_advice(advice_name,advice_type,advice_sth,advice_phone)
        values(#{adviceName},'用户反馈',#{adviceSth},#{advicePhone})
    </insert>
    <insert id="addAdviceImage" parameterType="com.bus.javabean.LccAdviceBean">
        insert into tb_advice_image(advice_id,temp_path)
        values(#{adviceId},#{imagePath})
    </insert>

    <resultMap id="adviceMap" type="com.bus.javabean.LccAdviceBean">
<!--        <result property="cityName" column="city_name"></result>-->
<!--        <result property="driverName" column="driver_name"></result>-->
<!--        <result property="driverWage" column="driver_wage"></result>-->
<!--        <result property="driverCellphone" column="driver_cellphone"></result>-->
    </resultMap>
    <!--司机工资查询带分页-->
    <select id="findAdvice" parameterType="map" resultMap="adviceMap">
-- select b.city_name,a.driver_name,a.driver_wage,a.driver_cellphone FROM tb_driver a,tb_city b WHERE driver_state='启用' and a.city_id=b.city_id
-- limit #{start},#{end}
    </select>

    <!--司机工资总页数-->
    <select id="getTotalPages2" parameterType="map" resultType="java.lang.Integer">
--         select COUNT(*) FROM tb_driver a,tb_city b WHERE driver_state='启用' and a.city_id=b.city_id
    </select>
</mapper>


